header, section, main, #visscalendario, hr, footer{
    width: 100%; 
  }

header img{
    width: 100%;
}

.novisual{
    position: absolute;
    left: -9999px;
}

.flechainvisible{
    position: relative;
    left: auto;
}

main .continente{
    width: 98%;
  }

   /* main */.float{
    width: 98%;
}

  /* main */ .float a:link , a :visited{
    padding: 5px 5px;
}

.tema{
  width: 90%;
}

.registrazione form{
  width: 80%;
  
}

.torneo .campione img{
  width: 98%;
}

.torneo .sponsor img{
  width: 98%;
  height: 50px;
}

.tabla tr td{
  font-size: 12px;
}

.tabla caption{
  font-size: 16px;
}

#visscalendario #gio{
  width: 90%;
}

/* TORNEO A GRUPPI */
.torneogruppi{
  width: 100%; 
  justify-content:left;
}

.torneogruppi .fasetorneo{
  width: 1000px;
}

.torneogruppi img{
  /* border: #333 1px solid; */ 
  width: 98%;
}

nav{
  width: 100%;
}